
@font-face{
    font-family: Itim;
    src: url("/font/Itim-Regular.ttf");
}

.logoName{
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-background-color : linear-gradient(to top, rgba(71,108,203,1) 0%, rgba(55,85,163,1) 100%);/*#0c577c*/
    -fx-font-family: "Itim";

}

.bg-border{
    -fx-background-color: linear-gradient(to right, rgba(71,108,203,1) 0%, rgba(55,85,163,1) 100%);
}

.mainBox{
    -fx-background-color: radial-gradient(center 30% 0%, radius 100%, rgba(132,206,235,1) 0%, rgba(90,185,234,1) 20%, rgba(71,108,203,1) 100%);
    /*radial-gradient(center 30% 50%, radius 60%, rgba(76,190,235,1) 0%, rgba(86,128,233,1) 100%);*/  
    /*radius 100%,rgba(86,128,233,1) 0%, rgba(163,100,196,1) 100%);*/
    /*#0c7b93*/
}

.title{
    -fx-background-color : radial-gradient(center 30% 100%, radius 100%, rgba(132,206,235,1) 0%, rgba(90,185,234,1) 20%, rgba(71,108,203,1) 100%); /*#00a8cc*/
}

.menu{
    -fx-background-color : linear-gradient(to top, rgba(71,108,203,1) 0%, rgba(55,85,163,1) 100%); /*#00a8cc*/
}

.exitbtn{
    -fx-background-color : #023059;
}

.menubtn{
    -fx-background-color: rgba(41,64,124,0.5) 100%;  /*#00a8cc*/
    -fx-background-radius :  0 0 0 0; 
    -fx-text-fill : white;
    -fx-font-size : 20px;
    -fx-font-family: "Itim";
}

.menubtn:hover{
    -fx-border-style: hidden none none solid; 
    -fx-border-width: 0 0 0 10;
    -fx-border-color: #27496d; /**/
    -fx-background-color: rgba(41,64,124,1) 100%;
}

.menubtn:pressed{
    -fx-background-color: rgba(41,64,124,0.6) 100%;/*#27496d*/
}

.menuAdminbtn{
    -fx-background-color: rgba(41,64,124,0.5) 100%;  /*#00a8cc*/
    -fx-background-radius :  0 0 0 0; 
    -fx-text-fill : white;
    -fx-font-size : 18px;
    -fx-font-family: "Itim";
}

.menuAdminbtn:hover{
    -fx-border-style: hidden none none solid; 
    -fx-border-width: 0 0 0 10;
    -fx-border-color: #27496d; /**/
    -fx-background-color: rgba(41,64,124,1) 100%;
}

.menuAdminbtn:pressed{
    -fx-background-color: rgba(41,64,124,0.6) 100%;/*#27496d*/
}

.stylebtn{
    -fx-background-color: #00a8cd; 
    -fx-background-radius :  0 0 0 0; 
    -fx-text-fill : white;
    -fx-font-size : 17px;
    -fx-border-style: hidden none none solid;
    -fx-border-width: 0 0 0 30;
    -fx-border-color: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,2,2);
    -fx-font-family: "Itim";
}

.stylebtn:hover{
    -fx-border-style: hidden none none solid;
    -fx-border-width: 0 0 0 50;
    -fx-border-color: #ffffff;
    -fx-font-size : 20px;

}

.stylebtn:pressed{
    -fx-background-color: #ffffff;
    -fx-text-fill : #27496d; 
}

.menubtnActive{
    -fx-background-color: #27496d; 
    -fx-background-radius :  0 0 0 0; 
    -fx-text-fill : white;
    -fx-font-size : 20px;
}

.detailbtn{
    -fx-background-color : rgba(55,85,163,0.5) ; /*#00a8cc*/
    -fx-text-fill : white;
    -fx-background-radius :  10;
    -fx-font-size : 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.3) , 5,0,2,2);
    -fx-font-family: "Itim";
}

.detailbtn:hover{
    -fx-background-color: rgba(55,85,163,1) ; /*#27496d*/
}

.detailbtn:pressed{
    -fx-background-color: rgba(55,85,163,0.5) ; /*#0c7b93*/
}

.allSong{
    -fx-background-color:transparent;
}

.content-allSong{
    -fx-text-fill:white;
    -fx-font-size:10px;
    -fx-align-items:center;
    -fx-font-family: "Itim";
}

.content-allSong Label{
    -fx-text-fill:white;
    -fx-font-size:20px;
    -fx-font-family: "Itim";
}

.contentDetailbtn{
    -fx-background-color : rgba(55,85,163,0.7) 100%; /**/
    -fx-text-fill : white;
    -fx-background-radius :  30;
    -fx-font-size : 20px;
    -fx-opacity: .9;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,2,2);
    -fx-font-family: "Itim";
}

.contentDetailbtn:hover{
    -fx-background-color : rgba(55,85,163,0.9) 100%; /**/
    -fx-opacity: 1;
}

.contentDetailbtn:pressed{
    -fx-background-color : rgba(55,85,163,0.5) 100%; /**/
}

.downloadSelected Label{
    -fx-font-size: 25px;
    -fx-text-fill: white;
}

.backgroundpane{
    -fx-background-color: #333333;
    -fx-opacity: 0.3;
    -fx-background-radius: 2em;
}

.showpremium {
    -fx-background-color : radial-gradient(center 50% 50%, radius 300%, rgba(255,183,0,0.95) 0%, rgba(87,49,0,0.95) 100%);
    -fx-text-fill : white;
    -fx-background-radius :  10;
    -fx-font-size : 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,2,2);
    -fx-font-family: "Itim";
}

.accountbtn{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-background-radius :  0 0 0 0; 
    -fx-text-fill : white;
    -fx-font-size : 20px;
    -fx-font-family: "Itim";
}

.settinglabel{
    -fx-text-fill : white;
    -fx-font-size : 10px;
    -fx-font-family: "Itim";
}

.settinglabel:hover{
    -fx-underline: true;
}

/****************************************************************
 
  ScrollBar Skin  
 
****************************************************************/
.scroll-bar{
    -fx-background-color:transparent;
    -fx-background-radius: 0;
    -fx-font-size: 25px;
    -fx-padding: 0px;
}
.scroll-bar .viewport {
    -fx-background-color: transparent;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(211,211,211);
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 0;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(211,211,211);
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 0;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(255,255,255);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: rgb(211,211,211);
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

/****************************************************************
 
  Top Chart Music Skin  
 
****************************************************************/

.labelhead{
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-font-family: "Itim";
}

.labelheadinshowpage{
    -fx-font-size: 45px;
    -fx-text-fill: white;
    -fx-font-family: "Itim";
}

.seealllabel {
    -fx-font-size: 12px;
    -fx-text-fill: #cccccc;
    -fx-font-family: "Itim";
}

.seealllabel:hover {
    -fx-text-fill: #eeeeee;
    -fx-underline: true;
}
.seealllabel:pressed {
    -fx-underline: true;
}


.anchorpane{
    -fx-background-color : #00a8cc;
}

.labeldetail {
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-font-family: "Itim";
}

.topchartlabel{
    -fx-background-color : #27496d;
    -fx-opacity: 0.99;
}

.listlabeldetail{
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-font-family: "Itim";
}

.topchart{
    -fx-background-color : #222222;
    -fx-opacity: .5;
}

.topchartbtn {
    -fx-background-color: transparent;
    -fx-background-radius :  0;
    -fx-font-family: "Itim";
}

/****************************************************************
 
  Browse Skin  
 
****************************************************************/

.browselabel{
    -fx-text-fill : white;
    -fx-font-size : 24px;
    -fx-background-radius :  0;
    -fx-background-color: transparent;
    -fx-font-family: "Itim";
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white;
}

.browsebuttonlabel{
    -fx-text-fill : white;
    -fx-font-size : 17px;
    -fx-background-radius :  0;
    -fx-background-color: transparent;
    -fx-font-family: "Itim";
}

.browsebuttonlabel:hover{
    -fx-underline: true;
}

.browseheadlabel{
    -fx-text-fill : white;
    -fx-font-size : 72px;
    -fx-font-family: "Itim";
}

.buttoninbrowse{
    -fx-background-color : transparent;
    -fx-text-fill: white;
    -fx-background-radius: 0em;
    -fx-font-family: "Itim";
    -fx-font-size: 18px;
}

.buttoninbrowse:hover{
    -fx-underline: true;
    -fx-background-color : #111111;
}

.buttoninbrowse:pressed{
    -fx-underline: true;
}

.backgroundbuttoninbrowse{
    -fx-background-color : #222222;
    -fx-opacity: .5;
    -fx-background-radius: 0em;
}

.borderlist {
    -fx-background-color : #27496d;
    -fx-opacity: 0.99;
}

.buttonlist{
    -fx-background-color: #222222;
    -fx-opacity: .8;
    -fx-background-radius: 0em;
}

.artistbuttonlist{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}

/****************************************************************
 
  Search page Skin  
 
****************************************************************/

.backgroundsearch{
    -fx-background-color : #27496d;
    -fx-opacity: 0.6;
}

.playlistpane{
    -fx-background-color : #00a8cc;
    -fx-opacity: 0.4;
}

.headlabel {
    -fx-text-fill : white;
    -fx-font-size : 20px;
    -fx-bold : true;
    -fx-font-family: "Itim";
}

.hbox{
    -fx-border-style: hidden hidden solid hidden; 
    -fx-border-width: 0 0 1 0;
    -fx-font-family: "Itim";
    -fx-border-color: white;
}

.topbox{
    -fx-border-style: hidden hidden solid hidden; 
    -fx-border-width: 0 0 1 0;

    -fx-border-color: #bbbbbb;
}

.borderplaylist {
    -fx-background-radius: 0em;
    -fx-background-color : transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 10em;
}

.borderplaylist:hover {
    -fx-background-color : #111111;
}

.searchlabel {
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-font-family: "Itim";
    -fx-font-weight: 700;
}

.detaillabel {
    -fx-text-fill: #ffffff;
    -fx-font-size: 18;
    -fx-font-family: "Itim";
    -fx-opacity: .7;
}

.labelNameArtistInSongButton {
    -fx-background-radius: 0em;
    -fx-background-color : transparent;
    -fx-text-fill: #bbbbbb;
    -fx-font-size: 15px;
}

/****************************************************************
 
  Search page Skin  
 
****************************************************************/

.showing {
    -fx-text-fill : dddddd;
    -fx-font-size : 45px;
    -fx-font-family: "Itim";

}

.foundtext{
    -fx-text-fill : white;
    -fx-font-size : 45px;
    -fx-bold : true;
    -fx-font-family: "Itim";

}

.bgsearchfield {
    -fx-background-color: #222222;
    -fx-opacity: .6;
}

.searchfield{
    -fx-font-size: 18px;
}

.searchfield:hover{
    -fx-text-fill: #ffffff;
}

.searchfield:pressed{
    -fx-text-fill: white;
}



/****************************************************************
 
  MyAccount
 
****************************************************************/
.outerPane{
    -fx-background-color: transparent;
}

.innerPane{
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-background-color: radial-gradient(center 0% 0%, radius 230% , rgba(55,85,163,1)  0% ,rgba(132,206,235,1) 100%);
    /*-fx-background-color: transparent; rgba(136,96,208,1) 83%*/
    -fx-table-cell-border-color: transparent;
    -fx-background-radius : 15;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 10,0,2,2);
}


.titleMyAccount{
    -fx-font-size: 32px;
    -fx-font-weight:600;
    -fx-text-fill: white;
    -fx-font-family: "Itim";
}

.fistNameAndSurname{
    -fx-font-size: 30px;
    -fx-font-weight:600;
    -fx-text-fill: white;
    -fx-font-family: "Itim";
}

.detailMyAccount Label{
    -fx-font-size: 20px;
    -fx-font-weight:100;
    -fx-text-fill: white;
    -fx-font-family: "Itim";
}

.detailMyAccountFillText{
    -fx-font-size: 20px;
    -fx-font-weight:100;
    -fx-text-fill: black;
    -fx-font-family: "Itim";
}

.detailMyAccount2{
    -fx-font-size: 18px;
    -fx-font-weight:100;
    -fx-text-fill: white;
    -fx-font-family: "Itim";
}
.savebtn{
    -fx-background-color : linear-gradient(to right,  rgba(0,208,100,0.7) 0%, rgba(0,208,100,0.8) 100%);
    -fx-text-fill : white;
    -fx-background-radius :  10;
    -fx-font-size : 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,2,2);
    -fx-font-family: "Itim";
}

.savebtn:hover{
    -fx-background-color : linear-gradient(to right,  rgba(0,208,100,0.9) 0%, rgba(0,208,100,1) 100%);
}

.savebtn:pressed{
    -fx-background-color : linear-gradient(to right,  rgba(0,208,100,0.5) 0%, rgba(0,208,100,0.5) 100%);
}

.cancelbtn{
    -fx-background-color : linear-gradient(to right, rgba(236,0,68,0.7) 0%, rgba(236,0,68,0.8) 100%); /*#ee4540*/
    -fx-text-fill : white;
    -fx-background-radius :  10;
    -fx-font-size : 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,2,2);
    -fx-font-family: "Itim";
}

.cancelbtn:hover{
    -fx-background-color : linear-gradient(to right, rgba(236,0,68,0.9) 0%, rgba(236,0,68,1) 100%);
}

.cancelbtn:pressed{
    -fx-background-color : linear-gradient(to right, rgba(236,0,68,0.5) 0%, rgba(236,0,68,0.5) 100%);
}
.premiumbtn{
    -fx-background-color : radial-gradient(center 50% 50%, radius 300%, rgba(255,183,0,0.95) 0%, rgba(87,49,0,0.95) 100%);
    -fx-text-fill : white;
    -fx-background-radius :  10;
    -fx-font-size : 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,2,2);
    -fx-font-family: "Itim";
}

.premiumbtn:hover{
    -fx-background-color : radial-gradient(center 50% 50%, radius 300%, rgba(255,183,0,1) 0%, rgba(87,49,0,0.1) 100%);
}

.premiumbtn:pressed{
    -fx-background-color : radial-gradient(center 50% 50%, radius 300%, rgba(255,183,0,0.5) 0%, rgba(87,49,0,0.5) 100%);
}

.premiumpricebtn{
    -fx-background-color : radial-gradient(center 50% 50%, radius 300%, rgba(255,183,0,0.8) 0%, rgba(87,49,0,0.8) 100%);
    -fx-text-fill : white;
    -fx-background-radius :  10;
    -fx-font-size : 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,2,2);
    -fx-font-family: "Itim";
}

.premiumpricebtn:hover{
    -fx-background-color : radial-gradient(center 50% 50%, radius 300%, rgba(255,183,0,0.95) 0%, rgba(87,49,0,0.95) 100%);
}

.premiumpricebtn:pressed{
    -fx-background-color : radial-gradient(center 50% 50%, radius 300%, rgba(255,183,0,0.5) 0%, rgba(87,49,0,0.5) 100%);
}

/****************************************************************
 
  Table TopChart Music
 
****************************************************************/


.tableTopChartMusic,tableTopChartMusic:focused{
    -fx-background-color:transparent;
    -fx-font-family: "Itim";
}

.tableTopChartMusic .column-header-background{
    -fx-background-color: rgba(23, 115, 188,1);
    -fx-background-radius : 10 10 0 0; 
}

.tableTopChartMusic .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-size:20px;
    -fx-padding: 10 0 10 0;
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

.tableTopChartMusic .column-header {
    -fx-background-color: transparent;
}

.tableTopChartMusic .table-cell{
    -fx-text-fill: white;
}


.tableTopChartMusic .table-row-cell:selected,.tableTopChartMusic .table-row-cell:hover{
    -fx-text-fill: black;  
    -fx-background-color: rgba(0,0,0,0.1);; /*rgba(63,93,167,0.9);*/
    -fx-font-size:15px;
}

.tableTopChartMusic .table-row-cell,.tableTopChartMusic .table-row-cell Lable{
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-table-cell-border-color: transparent;
    -fx-font-size:15px;
}

/****************************************************************
 
  Table My Library
 
****************************************************************/

.tableMyLibrary,tableMyLibrary:focused{
    -fx-background-color:transparent;
    -fx-font-family: "Itim";
    -fx-font-size:20px;
}

.tableMyLibrary .column-header-background{
    -fx-background-color: rgba(23, 115, 188,1);
    -fx-background-radius : 10 10 0 0; 
}

.tableMyLibrary .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-size:20px;
    -fx-padding: 10 0 10 0;
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

.tableMyLibrary .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tableMyLibrary .table-cell{
    -fx-text-fill: white;
}


.tableMyLibrary .table-row-cell:selected,.tableMyLibrary .table-row-cell:hover{
    -fx-text-fill: black;  
    -fx-background-color: rgba(0,0,0,0.1);; /*rgba(63,93,167,0.9);*/

}

.tableMyLibrary .table-row-cell,.tableMyLibrary .table-row-cell Lable{
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-table-cell-border-color: transparent;
}

/****************************************************************
 
  Ad premium
 
****************************************************************/

.xpremiumbutton{
    -fx-background-color: transparennt;
    -fx-text-fill: #bbbbbb;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.xpremiumbutton:hover{
    -fx-text-fill: #ffffff;
}

