@font-face{
    font-family: Itim;
    src: url("/font/Itim-Regular.ttf");
}
.backgroundImage{
    -fx-background-image: url("/image/bg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}



.loginLable{   
    -fx-font-family: "Itim";
    -fx-padding: 0px 50px 0px 50px;
}

.backgroundLoginLabel {
    -fx-background-color: #222222;
    -fx-opacity: .75;
}

.loginLable Label,CheckBox{
    -fx-font-size: 20px;
    -fx-font-weight:bold;
    -fx-text-fill: white;
}


.loginLable TextField,.loginLable PasswordField{
    -fx-font-size: 20px;
    -fx-text-fill : #bbbbbb;
    -fx-font-weight:bold; 
    -fx-background-color: transparent;
    -fx-border-color: #bbbbbb;
    -fx-border-width: 2px;
    -fx-border-radius:15;
}

.loginLable TextField:focused,.loginLable PasswordField:focused{
    -fx-border-color: #ffffff;
    -fx-text-fill: #ffffff;
}



.check-box {
    /* default properties */
    selected-box-color: gray;
    box-color: grey;
    mark-color: white;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: selected-box-color;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: box-color;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: mark-color;
}

.loginBtn{
    -fx-font-size:20px;
    -fx-text-fill:white;
    -fx-background-color: #61a6dd;
    -fx-background-radius :10px;
    -fx-padding: 10 70 10 70;
    
}

.loginBtn:hover{
    -fx-background-color:#487fc7;
}

.loginBtn:pressed{
    -fx-background-color:#4578c1;
}

.guestLogin{
    -fx-font-size:20px;
    -fx-text-fill:white;
    -fx-background-color:#61a6dd;
    -fx-background-radius :10px;
    -fx-padding: 5 40 5 40;
}

.guestLogin:hover{
    -fx-background-color:#487fc7;
}

.guestLogin:pressed{
    -fx-background-color:#4578c1;
}

.forgotBtn,.registerBtn{
    -fx-font-size:15px;
    -fx-text-fill:white;
    -fx-background-color:#04c0d0;
    -fx-background-radius :10px;
    -fx-padding: 5 40 5 40;
}

.forgotBtn:hover,.registerBtn:hover{
    
    -fx-background-color:#68d4dd;
}

.forgotBtn:pressed,.registerBtn:pressed{
    
    -fx-background-color:#21b7c4;
}